body
{
	 background-color: lightblue;
}
.zone
{
	color: red;
	text-align: center;
	font-size: 100px;
}
.question
{
	color: black;
	display: block;
	margin-left: auto;
    margin-right: auto;
	font-size: 25px;
}
.center
{
	display: block;
	margin-left: auto;
    margin-right: auto;
}